#!/bin/sh

#JAVA_PATH=$(/usr/libexec/java_home -v 1.8)
JAVA_BIN={{ java_bin }}/java

$JAVA_BIN -jar {{ installation_folder }}/lib/audio-support.jar \
  --spring.config.location=file:{{ audio_installation_folder }}/conf/audio.properties

