spring.main.banner-mode=off
logging.config={{ audio_installation_folder }}/conf/logback-audio.xml
logging.file={{ audio_installation_folder }}/logs/audio-service.log

spring.mvc.log-resolved-exception=true

spring.servlet.multipart.enabled = false

server.address = 127.0.0.1

server.port = {{ audio_port }}
